.header {
  margin-left: 24px;
}

.footer {
  text-align: center;
}

.search-container {
  text-align: center;
}

.search-bar {
  width: 750px;
  height: 50px;
  font-size: 32px;
}

.search-btn {
  margin: 24px 0;
  color: white;
  background: black;
  padding: 12px 24px;
  font-size: 16px;
  border-style: none;
}

.representative-info {
  margin: 42px 0;
}

.office-title{
  font-weight: bold;
  text-transform: uppercase;
}